<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "comun/importaciones.html" %}

    <script>$(document).ready(function () {
        $("#gijon").toggleClass("active");
        $("#rss").toggleClass("active");
    });</script>
    <title></title>

</head>
<body>

{% include "menus/menusSuperior.html" %}

<section style="margin-top: 7%;  margin-right: 7%; margin-left: 20%">

    <h1 style="text-align: left">RSS</h1>
    <!--
    <script src="http://toolki.com/en/feed2js/?url=http%3A%2F%2Fwww.gijon.es%2Fog_content_object_list_in_pages%2Fshow%2F5835.rss&amp;display_date=1&amp;description_chars=200"></script>
    -->
    <div style="text-items: center">
        <script type="text/javascript"
                src="//p3k.org/rss/main.js?url=http%3A%2F%2Fwww.gijon.es%2Fog_content_object_list_in_pages%2Fshow%2F5835.rss&amp;maxItems=99&amp;width=1000&amp;height=-1&amp;radius=5&amp;frameColor=%23b62821&amp;titleBarColor=%23b62821&amp;titleBarTextColor=%23ffffff&amp;boxFillColor=%23ffffff&amp;textColor=%23000000&amp;linkColor=%23b62821&amp;fontFace=10pt%20sans-serif&amp;id=rssbox-1464429336719513431665318276"></script>
    </div>
</section>
{% include "menus/firma.html" %}
</body>
</html>