<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "comun/importaciones.html" %}

    <script>$(document).ready(function () {
        //$("#gijon").toggleClass( "active" );
        //$("#gastos").toggleClass( "active" );
        //$("#articulo").toggleClass( "active" );
    });</script>
    <title></title>
</head>
<body>

{% include "menus/menusSuperior.html" %}

<section style="margin-top: 7%; margin-left: 10%; margin-right: 1%">
    <div class="row">
        <div class="col-md-8">
            <!--<script src="http://toolki.com/en/feed2js/?url=http%3A%2F%2Fwww.gijon.es%2Fog_content_object_list_in_pages%2Fshow%2F5835.rss&amp;display_date=1&amp;description_chars=200"></script>-->
            <!--https://p3k.org/rss/ -->

            <!--<div class="align-right"> <script type="text/javascript" src="//p3k.org/rss/main.js?url=http%3A%2F%2Fwww.gijon.es%2Fog_content_object_list_in_pages%2Fshow%2F5835.rss&amp;maxItems=7&amp;width=200&amp;height=-1&amp;radius=5&amp;titleBarColor=%23b62821&amp;titleBarTextColor=%23ffffff&amp;boxFillColor=%23ffffff&amp;textColor=%23080101&amp;linkColor=%23b62821&amp;fontFace=10pt%20sans-serif&amp;id=rssbox-14643624895547631339332941869&amp;compact=true&amp;showXmlButton=true"></script> </div>-->
            <h1 style="text-align: center">¡Bienvenido!</h1>

            <h2>Dashboards con los datos públicos de la ciudad de Gijón.</h2>

            <p>En esta página web puedes encontrar cuadros de mando con datos públicos de la ciudad de Gijón. Los datos
                han sido obtenidos de la página de datos abiertos del ayuntamiento de Gijón (<a
                        href="https://transparencia.gijon.es/">Gijón Open Data</a>).</p>

            <p>Entre los dashboards disponibles, puedes encontrar los siguientes:</p>

            <a href="/gijon/demografia/">- Cuadro de mando con los datos demográficos de la ciudad de Gijón</a>

            <p></p>
            <a href="/gijon/economia/presupuestos/gastos/">- Cuadros de mando con los datos económicos de la ciudad de
                Gijón</a>

            <p></p>
            <a href="/gijon/empleadosPublicos/antiguedad/">- Cuadros de mando con los datos de los empleados públicos de
                la ciudad de Gijón</a>

            <p></p>
            <a href="/gijon/elecciones/">- Cuadro de mando con los datos de las elecciones de la ciudad de Gijón</a>

            <p></p>
            <a href="/gijon/energia/alumbradoPublico/">- Mapa de intensidad con los datos del alumbrado público de la
                ciudad de Gijón</a>

            <p></p>
            <a href="/gijon/medioAmbiente/aire/SO2/">- Cuadros de mando con los datos de la calidad del aire de la
                ciudad
                de Gijón</a>

            <p></p>
            <a href="/gijon/sociedad/reclamacionesSugerencias/">- Cuadro de mando con los datos de las reclamaciones y
                sugerencias de los ciudadanos de Gijón</a>

            <p></p>
            <a href="/gijon/tarjetaCiudadana/">- Cuadro de mando con los datos de los usos de la tarjeta ciudadana de la
                ciudad
                de Gijón</a>

            <p></p>
            <a href="/gijon/sociedad/usoCajeros/">- Cuadro de mando con los datos de los usos de los cajeros públicos de
                la ciudad
                de Gijón</a>

            <p></p>
            <a href="/gijon/rss/">- Últimas noticias de la ciudad
                de Gijón</a>

            <p></p>

            <div class="row">
                <div class="col-md-6">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/Gijon"
                       data-widget-id="736472975000637440">#Gijon(r)i buruzko Txioak</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>

                </div>
                <div class="col-md-6">
                    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/MeteoGijon"
                       data-widget-id="736475506145693697">@MeteoGijon(r)en Txioak</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");</script>

                </div>
            </div>

        </div>
        <div class="col-md-4">
            <!--https://twitter.com/settings/widgets/736218568174505985/edit?focus_textarea=1&notice=WIDGET_CREATED -->
            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/gijon"
               data-widget-id="736210000746549248">@gijon(r)en Txioak</a>
            <script>!function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                if (!d.getElementById(id)) {
                    js = d.createElement(s);
                    js.id = id;
                    js.src = p + "://platform.twitter.com/widgets.js";
                    fjs.parentNode.insertBefore(js, fjs);
                }
            }(document, "script", "twitter-wjs");</script>

            <a class="twitter-follow-button"
               href="https://twitter.com/gijon"
               data-size="large">
                Follow @TwitterDev</a>
        </div>
    </div>


</section>
{% include "menus/firma.html" %}
</body>
</html>