<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% include "comun/importaciones.html" %}

    <script>$( document ).ready(function() {
            $("#gijon").toggleClass( "active" );
            $("#usoCajeros").toggleClass( "active" );
        });</script>
    <title></title>
</head>
<body>

{% include "menus/menusSuperior.html" %}

<section style="margin-top: 7%;  margin-right: 2%; margin-left: 2%">
 <div class="row">
    <h1 style="text-align: center">Usos de los cajeros ciudadanos</h1>
<iframe width=100% height="515" src="https://charts.qlikcloud.com/572b8f0c48bde60100e323f1/chart.html" frameborder="0"></iframe>
     </div>
</section>
{% include "menus/firma.html" %}
</body>
</html>