<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    {% include "comun/importaciones.html" %}

    <script>
        $( document ).ready(function() {
            $("#gijon").toggleClass( "active" );
        });</script>
    <script>
        $( document ).ready(function() {
            $("#ingresos").toggleClass( "active" );
        });</script>
    <title></title>
</head>
<body>
{% include "menus/menusSuperior.html" %}
<section>
    <div class="col-md-2">
{% include "menus/menuLateralGijonGastos.html" %}
        </div>
<div class="col-md-10">
<iframe width=100% height="515" src="https://charts.qlikcloud.com/56d18a1bf6dc0f1000095f5a/chart.html" frameborder="0"></iframe>
</div>
</section>
</body>
</html>