<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% include "comun/importaciones.html" %}
        <script>$( document ).ready(function() {
            $("#gijon").toggleClass( "active" );
            $("#alumbradoPublico").toggleClass( "active" );
        });</script>
        <title></title>
        <link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
        {% include "menus/menusSuperior.html" %}
        <section style="margin-top: 7%;  margin-right: 2%; margin-left: 2%">
            <h1 style="text-align: center">Mapa de intensidad del alumbrado público</h1>
            <iframe width="100%" height="700" frameborder="0" src="https://ibongaray.cartodb.com/viz/a07f4390-12d0-11e6-95cd-0e8c56e2ffdb/embed_map" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
        </section>
    {% include "menus/firma.html" %}
    </body>
</html>