{% load staticfiles %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="navigation" style="background: #333;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a id="uno" class="navbar-brand" href="/" style="color: #fffff6;"><img id="matrix"
                                                                                   src="{% static "img/logo_2013.png" %}"
                                                                                   style="position: relative;
  top: -50px;
  left: 10px;
  width: 200px;
  "></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <!-- <li id="gastos"><a href="/gijon/gastos/tiempo/" style="color: #fffff6;">Economia</a></li>-->

                <!--<li id="mapa"><a href="/gijon/mapa/" style="color: #fffff6;">Mapa</a></li>-->

                <li id="demografia"><a href="/gijon/demografia/" style="color: #fffff6;">Demografía</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="color: #fffff6;">Economía<span class="caret"></span></a>
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fffff6;">Medio Ambiente<span class="caret"></span></a>-->
                    <ul class="dropdown-menu" style="background: #333;">
                        <li id="presupuestos"><a href="/gijon/economia/presupuestos/gastos/"
                                                       style="color: #fffff6;">Presupuestos</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" style="color: #fffff6;">Calidad Aire<span class="caret"></span></a>
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fffff6;">Medio Ambiente<span class="caret"></span></a>-->
                    <ul class="dropdown-menu" style="background: #333;">
                        <li id="SO2"><a href="/gijon/medioAmbiente/aire/SO2/" style="color: #fffff6;">SO2</a></li>
                        <li id="NO"><a href="/gijon/medioAmbiente/aire/NO/" style="color: #fffff6;">NO</a></li>
                        <li id="NO2"><a href="/gijon/medioAmbiente/aire/NO2/" style="color: #fffff6;">NO2</a></li>
                        <!--<li id="CO"><a href="/gijon/medioAmbiente/aire/CO/" style="color: #fffff6;">CO</a></li>-->
                        <li id="PM10"><a href="/gijon/medioAmbiente/aire/PM10/" style="color: #fffff6;">PM10</a></li>
                        <li id="O3"><a href="/gijon/medioAmbiente/aire/O3/" style="color: #fffff6;">O3</a></li>
                        <!--<li id="TMP"><a href="/gijon/medioAmbiente/aire/TMP/" style="color: #fffff6;">TMP</a></li>-->
                        <li id="HR"><a href="/gijon/medioAmbiente/aire/HR/" style="color: #fffff6;">HR</a></li>
                        <li id="PRB"><a href="/gijon/medioAmbiente/aire/PRB/" style="color: #fffff6;">PRB</a></li>
                        <li id="RS"><a href="/gijon/medioAmbiente/aire/RS/" style="color: #fffff6;">RS</a></li>
                        <!--<li id="LL"><a href="/gijon/medioAmbiente/aire/LL/" style="color: #fffff6;">LL</a></li>-->
                        <!--<li id="BEN"><a href="/gijon/medioAmbiente/aire/BEN/" style="color: #fffff6;">BEN</a></li>-->
                        <!--<li id="TOL"><a href="/gijon/medioAmbiente/aire/TOL/" style="color: #fffff6;">TOL</a></li>-->
                        <!--<li id="MXIL"><a href="/gijon/medioAmbiente/aire/MXIL/" style="color: #fffff6;">MXIL</a></li>-->
                        <!--<li id="PM25"><a href="/gijon/medioAmbiente/aire/PM25/" style="color: #fffff6;">PM25</a></li>-->
                    </ul>
                </li>

                <li id="tarjetaCiudadana"><a href="/gijon/tarjetaCiudadana/" style="color: #fffff6;">Tarjeta
                    Ciudadana</a></li>

                <!--<li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color: #fffff6;">Energía<span class="caret"></span></a>

                <ul class="dropdown-menu" style="background: #333;">
                    <li id="alumbradoPublico"><a href="/gijon/energia/alumbradoPublico/" style="color: #fffff6;">Alumbrado Público</a></li>

                </ul>
                </li>-->

                <li id="alumbradoPublico"><a href="/gijon/energia/alumbradoPublico/" style="color: #fffff6;">Alumbrado
                    Público</a></li>

                <li id="usoCajeros"><a href="/gijon/sociedad/usoCajeros/" style="color: #fffff6;">Uso Cajeros</a></li>



            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

