<h3><i class="glyphicon"></i>

    <p>

    <p></p></p>Dimensión
</h3>
<hr>

<ul class="nav nav-pills nav-stacked">
    <li id="empleadosPublicosAntiguedad"><a href="/gijon/empleadosPublicos/antiguedad/">Antiguedad</a></li>
    <li id="empleadosPublicosSexo"><a href="/gijon/empleadosPublicos/sexo/"><i class="glyphicon"></i>Sexo</a></li>
    <li id="empleadosPublicosEdad"><a href="/gijon/empleadosPublicos/edad/"><i class="glyphicon"></i>Edad</a></li>
    <li id="empleadosPublicosGrupoNivel"><a href="/gijon/empleadosPublicos/grupoNivel/"><i class="glyphicon"></i>Grupo y
        nivel</a></li>
    <li id="empleadosPublicosRegimenJuridico"><a href="/gijon/empleadosPublicos/regimenJuridico/"><i
            class="glyphicon"></i>Régimen juridico</a></li>
    <li id="empleadosPublicosRelacion"><a href="/gijon/empleadosPublicos/relacion/"><i
            class="glyphicon"></i>Relación</a></li>
</ul>

<hr>
